* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #fafafa;
}

.container-topo {
  background: #11c767; 
  display: flex;
  justify-content: space-between; 
  padding: 0 30px;  
}

.titulo-principal h1 {
  display: flex;
  color: #fff;
  font-size: 38px;
  letter-spacing: 1px; 
  height: 80px;
}

.titulo-principal h1 {
  align-items: center;
}

.menu-navegacao {
  display: flex;  
  align-items: center; /* alinha o menu ao centro da div */
}

.menu-navegacao ul li {
  display: inline;
  margin-left: 30px;  
}

.menu-navegacao ul li a {
  text-decoration: none; 
  color: #fff; 
  font-size: 18px;  
}

.menu-navegacao ul li a:hover {
  color: #d4d6c9;
}

#btn a, #btn-cartao {
  color: #fff;  
}

#btn, #btn-cartao {
  font-size: 18px;
}

#btn, #btn-cartao {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background: #5769d1;
  transition: background-color 0.5s;
}

#btn:hover, #btn-cartao:hover {  
  background: #365ad6;
  cursor: pointer;
}

.container-main {  
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 20px;
  background: #eff0e8;  
}

.cadastro h2 {
  color: #223324;
  font-size: 55px;
}

.cadastro p {
  font-size: 18px;
  color: rgba(43, 43, 43, 0.747);  
  line-height: 1.5;
  margin-top: 20px;  
}

.cadastro {  
  width: 46%;  
}

.cadastro-cartao {
  background: #11c767;
  width: 400px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.cadastro-cartao h2 {
  font-size: 36px;
  color: #fff;
  text-align: center; 
  padding: 15px;
}

.cadastro-cartao form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;           
}

.cadastro-cartao input {
  margin: 10px;  
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px; 
  width: 70%;  
}

#btn-cartao {
  width: 50%;
}

.foto-cartao {
  display: flex;
  align-items: center;
}

.img-foto-cartao { 
  display: flex;
  justify-content: center;   
  background: #d4d6c9; 
  width: 600px;
  height: 470px;
  border: none;
  border-radius: 10px;  
}

.img { 
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;  
}

.beneficios {
  background: yellow;
  height: 200px;  
  }

.beneficios-cartao {
  display: flex;
  flex-direction: column;  

}

.texto1 span{
  color: #50d6a1;
  
}

.texto1 {
  color: #000;
}

.imagens-banco-pay {  
  height: 200px;
}

.imagens-banco-pay {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;  
}

.img-pay {
  max-width: 100%;
  width: 220px;  
  object-fit: contain;    
}

/* CONTINUAR AQUI */
.img-banco-pay p {  
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  color: rgba(43, 43, 43, 0.747); 
}